<% provide(:title, "Sign in")%>
<h1>Sign in</h1>

<div class="row">
	<div>
		<!--Uses form_for helper, need to indicate the name of the resource and the corresponding URL-->
		<%= form_for(:session, url: sessions_path) do |f| %>	

		    <%= f.label :Email %>
		    <%= f.text_field :email %>
		
		
		    <%= f.label :Password %>
		    <%= f.password_field :password %>
		
		    <%= f.submit "Sign in" %>

		<% end %>
		
		<p>New User? <%= link_to 'Sign up now!', signup_path %></p>
	</div>
</div>
