<h1>My Flashcards</h1>

<table>
	<tr>
		<th>Title</th>
		<th>Question</th>
	</tr>
	<% @flashcards.each do | f | %>
	<tr>
		<td><%= f.title %></td>
		<td><%= f.question %></td>
		<td><%= link_to 'Show', flashcard_path(f) %></td>
		<td><%= link_to 'Edit', edit_flashcard_path(f) %></td>
		<td><%= link_to 'Delete', flashcard_path(f), method: :delete, 
			data: { confirm: 'Are you sure you want to delete this flashcard?' } %></td> 
	</tr>
	<% end %>
</table>

<%= link_to ' Create new Flashcard', new_flashcard_path %>
