<!--Display a flash card and its associated resources-->
<h1>Flashcard</h1>
<h2>Topic:</h2>
<p><%= @flashcard.title %></p>
 
<h2>Question:</h2>
<p><%= @flashcard.question %></p>

<div id="div_answerShow">
	<h2>Answer</h2>
	<p id='answer_display' style='display:none'><%= @flashcard.answer %></p>
</div>
<input type='button' id='btn_answerShow' value='Show Answer' onclick='JavaScript:showAnswer(this.value);'></button>

<!-- Show any notes  or resources left about this flashcard -->
<h3>Notes about this Flashcard (<%= @flashcard.notes.count %>)</h3>
<%= render @flashcard.notes %>

<h3>Attached Resources (<%= @flashcard.uploads.count %>)</h3>
<%= render @flashcard.uploads %>

<!-- Allow for notes to be left about this flashcard -->
<h3>Add a Note</h3>
<%= render "notes/form" %>

<h3>Upload a Resource</h3>
<%= render "uploads/form" %>


<!--Return to other pages-->
<!--Go back to the list of flashcards page -->
<%= link_to 'Back to My Flashcards', user_path(current_user) %>
<!--Edit this flashcard -->
<%= link_to 'Edit this Flashcard', edit_flashcard_path(@flashcard) %>
<!--Delete this flashcard -->
<%= link_to 'Delete this Flashcard', flashcard_path(@flashcard), method: :delete, 
			data: { confirm: 'Are you sure you want to delete this flashcard?' } %> 
