<!--Show the users profile image -->
<p id="notice"><%= notice %></p>
<!--Avatar /image from paperclip gem (http://rdoc.info/gems/paperclip#Storage)-->
<%= image_tag @user.avatar.url(:thumb) %>
<!--Display name-->
<p><strong>Name:</strong><%= @user.name %></p>


<!--Display Users flashcards -->
<div>
	<!--display number of flashcards user has-->	
	<h3>My Flashcards (<%= @user.flashcards.count %>)</h3>
	<% if @user.flashcards.any? %>		
		<!--if the user has an flash cards, display them-->	
		<ul class="users_flashcards">
			<%= render @flashcards %>
		</ul>
		<!--allow for pages of flashcards-->
		<% will_paginate @flashcards %>
	<% end %>
	<div>
		<!--Link to create new flashcards-->
		<%= link_to ' Create new Flashcard', new_flashcard_path %>	
	</div>
</div>
